@import "compass";
@import "mixins";

$color: #727272;
$footer_height: 75px;


/*========== FONTS ===========*/
@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans/FiraSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans/FiraSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans/FiraSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans/FiraSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
/*========== BASE ===========*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
}

body{
  font-family: FiraSans;
  color:#727272;
  font-weight:400;
  font-size: 14px;
  width: 100%;
  height: 100%;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
  position: relative;
  .empty{
    height: $footer_height;
  }
}

.footer{
  height: $footer_height;
  margin-top: -$footer_height;
  background: #212121;
  color: #ffffff;
  font-weight:300;
  position: relative;
  padding: 20px;
  .footer__copyright{
    line-height: 22px;
    text-align: center;
    width: 520px;
    margin: 0 auto;
  }
}

ul{
  padding: 0;
  margin: 0;
  li{
    list-style:none;
  }
}
p{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}

/*========== HEADER ============*/

.header{
  width: 100%;
  padding: 15px 30px;
  background: #8cc34b;
  height: 90px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 53, 0.49);
  -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 53, 0.49);
  box-shadow:         0px 5px 10px 0px rgba(50, 50, 53, 0.49);
  margin-bottom:62px;
}
.header_container{
  width: 1200px;
  margin: 0 auto;
}
.header__top, .header__menu{
  @include clearfix;
}
.header__menu{
  float: right;
  width: 170px;
  ul{
    float: left;
    text-align: justify;
    width: 100%;
    &:after{
      content: '';
      display: inline-block;
      width: 100%;
      height: 0;
    }
    .menu__item{
      display: inline-block;
    }
  }
}

.menu__link{
  display: inline-block;
  font-weight:400;
  font-style: normal;
  color: #e1eed4;
  font-family:FontAwesome;
  font-size: 2em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  &--vk:before{
    content: "\f189";
  }
  &--git:before{
    content: "\f09b";
  }
  &--sk:before{
    content: "\f17e";
  }

  &:hover{
    color: #fff;
  }
}
.header__author{
  width: 550px;
  float: left;
}
.header__author--face{
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.face{
  display: inline-block;
}

.header__author--info{
  width: 400px;
  float: left;
}
.header__author--name{
  color: #eff6e8;
  font-size:22px;
}
.header__author--email{
  a{
    color: #c0e398;
  }
}

.face__img{
  display: block;
  max-width: 63px;
  max-height: 63px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.container{
  width: 960px;
  margin: 0 auto;
  @include clearfix;
  .cols{
    float: left;
    padding-left:10px;
    padding-right:10px;

    &.col-1{
      width: (100%/12*1);
    }
    &.col-2{
      width: (100%/12*2);
    }
    &.col-3{
      width: (100%/12*3);
    }
    &.col-4{
      width: (100%/12*4);
    }
    &.col-5{
      width: (100%/12*5);
    }
    &.col-6{
      width: (100%/12*6);
    }
    &.col-7{
      width: (100%/12*7);
    }
    &.col-8{
      width: (100%/12*8);
    }
    &.col-9{
      width: (100%/12*9);
    }
    &.col-10{
      width: (100%/12*10);
    }
    &.col-11{
      width: (100%/12*11);
    }
    &.col-12{
      width: (100%/12*12);
    }
  }
}

.courses{
  background: url(../img/gplaypattern.png);
  padding-bottom: 60px;
}
.about{
  margin-bottom:75px;
}
.about__title, .course__title{
  font-size: 42px;
  font-weight:500;
  text-align: center;
  margin:18px 0;
  color: #000;
}
.about__info, .course__info{
  font-size: 21px;
  font-weight:300;
  color: $color;
  text-align: center;
  margin-bottom: 50px;
}

.about__box--img img{
  max-width: 100%;
}
.box__title{
  font-size: 21px;
  color: #000;
  font-weight:400;
  margin: 0 0 20px 0;
}
.about__box--text{
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;

  a{
    color:#03a9f4;
    border-bottom: 1px solid #03a9f4;
  }
}
.course__wrapper{
  float: left;
  &:nth-child(3n){
    clear: left;
  }
}
.course__box{
  -webkit-box-shadow: 0px 3px 10px 1px rgba(199,193,199,0.75);
  -moz-box-shadow: 0px 3px 10px 1px rgba(199,193,199,0.75);
  box-shadow: 0px 3px 10px 1px rgba(199,193,199,0.75);
  margin-bottom: 20px;
  position: relative;
  &.course__checked{
    box-shadow: none;

    .course__box--in{
      background: #edf5e3;
    }
    .course__box--footer{
      background: #e8f0db;
      label{
        color:#8cc34b;
      }
    }
  }
}
.course__img img{
  max-width:100%;
  height:auto;
}
.course__box--in{
  background: #fff;
  padding:20px;
}

.course__box--in--title{
  color: #212121;
  font-size: 21px;
  display: block;
  margin-bottom: 10px;
  &:hover{
    color: #8cc34b;
  }
}

.course__box--in--text{
  color: $color;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
}
.course__box--in--time{
  color: #b6b6b6;
}

.icon--time{
  @extend .menu__link;
  font-size:1em;
  color: #b6b6b6;
  &:before{
    content: '\f017';
  }
  &:hover{
    color: #b6b6b6;
  }
}
.course__box--footer{
  background: #f6f7f2;
  height: 60px;
  color: $color;
  font-size: 18px;
  padding: 20px;
}

@import "icons/*.png";
@include all-icons-sprites;


.course__box--footer{
  input[type=checkbox] {
    display: none;
  }
  label{
    cursor: pointer;
    line-height:24px;
    float: left;
    &:before{
      cursor: pointer;
      float: left;
      margin-right: 20px;
    }
  }
  input[type=checkbox] + label:before {
    background-image: url('../img/icons-s164b824183.png');
    background-repeat: no-repeat;
    background-position: 0 -20px;
    height: 20px;
    width: 20px;
    display: inline-block;
    content: '';
  }
  input[type=checkbox]:checked + label:before {
    background-image: url('../img/icons-s164b824183.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 20px;
    width: 20px;
    display: inline-block;
    content: '';
  }
}

.course__checkbox{
  &[type=checkbox]{
    display: none;
  }
  font-weight:400;
  font-style: normal;
  color: #fff;
  font-family:FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size:1em;
  &:before{
    display: inline-block;
    content: '\f096';
  }
}